@import url('https://fonts.googleapis.com/css2?family=Fascinate&family=Inconsolata:wght@300;400&family=Montserrat&display=swap');

:root {
    --font-heading: "Fascinate", monospace;
    --font-text: "Montserrat", sans-serif;
    --font-accent: "Inconsolata", monospace;

    --clr-black: #000;
    --clr-white: #fff;
    --clr-white-fade: #fffa;
    --clr-dark: #1f0124;
    --clr-lt: #dd03ff;
    --clr-accent: #020235;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(var(--clr-dark), var(--clr-accent));
    background-repeat: no-repeat;
    color: var(--clr-white);
    min-height: 100vh;
}

h1 {
    font-family: var(--font-heading);
    color: var(--clr-lt);
    text-align: center;
    margin: 1rem 0;
}

p {
    font-family: var(--font-text);
    line-height: 1.5;
    margin: 1rem 0;
}

a, li, h2, h3 {
    font-family: var(--font-accent);
}

a {
    color: var(--clr-white);
    text-decoration: none;
}

a:hover {
    color: var(--clr-lt);
}

p a {
    color: var(--clr-lt);
}

p a:hover {
    color: var(--clr-white-fade);
}

li {
    list-style-position: inside;
    padding: 1rem;
}

li a {
    color: var(--clr-lt)
}

li a:hover {
    color: var(--clr-white)
}